<!-- Generated template for the DirectoryComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>
      Give your opinion
      <span text-right right class="close-modal" (click)="closeModal()">Close</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="enquiry-intro">
    <div class="title">
      Just a click! Get the best offers at your finguretips from "{{text}}"
    </div>
  </div>

  <form (ngSubmit)="submitReviewForm()" class="enquiry-form">
    <ion-item>
      <ionic3-star-rating 
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#fbc02d" 
        defaultColor = "#00838f"
        readonly="false"
        [rating]=rating
        text-center>
      </ionic3-star-rating>
    </ion-item>
    <ion-item>
      <ion-label stacked>Name*</ion-label>
      <ion-input type="text" [(ngModel)]="enquiry.name" name="name" placeholder="Eg. Titly"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mobile*</ion-label>
      <ion-input type="number" [(ngModel)]="enquiry.mobile" name="mobile" placeholder="Eg. 91XXXXXX"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea [(ngModel)]="enquiry.details" name="description" placeholder="Write about your requirement"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" class="enquire-button" block>Submit</button>
  </form>
</ion-content>
