
<ion-item >
  <!-- <button ion-button clear menuToggle type="button" item-start>
    <ion-icon name="menu"></ion-icon>
  </button>  -->
  <ion-input type="text" [(ngModel)]="searchText" placeholder="Search by business"> </ion-input> 
  <button ion-button clear color="dark" type="button" item-right (click)="genericSearch()" > 
    <ion-icon ios="ios-search" md="md-search"> </ion-icon> 
  </button> 
</ion-item>