primary-header {
    display: block;
    overflow: hidden;
    ion-item.item{
        padding-left: 0px;
        .item-inner{
            padding-right: 0px !important;
            border-bottom: none !important;
            .text-input{
                margin: 13px 8px;
            }
            ion-icon{
                font-size: 2.5em;
                color: map-get($colors, 'primary' );
            }
            .item-button {
                height: 28px;
            }
        }
    }
    .input-has-focus .item-inner{
        box-shadow: 0 0 0 0 !important;
    }
}
