list-directory {
    ion-card{
        background: #fcfcfc;
    }
    .directory-thumb{
        img {
            margin-top: 2px;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .action-button{
        border-top: 1px solid #f1f1f1;
        .button{
            color: map-get($colors, 'secondary' );
            font-size: 1.4rem;
            padding: 0px 2px;
        }
        .button-md{
            font-size: 1.2rem;
        }
    }
    .directory-details{
        padding-left: 0px !important;
        margin-bottom: 10px; 
        .card-content{
            padding: 0px;
            .card-title{
                font-size: 1.5rem;
                font-weight: 600;
                color: map-get($colors, 'text-primary' );
                line-height: 1;
                padding: 0px 5px 2px 0px;
                margin: 0px; 
            }
            p{
                font-size: 1.4rem;
                ion-icon{
                    margin-right: 8px;
                }
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .directory-trade{
                font-size: 1.3rem !important;
                display: block !important;
                margin-bottom: 8px;
                white-space: normal;
            }
        }
    }
}
