<ion-card>
    <ion-row (click)="openDetails()">
      <ion-col col-4 class="directory-thumb" >
          <!-- <img/> -->
          <img [src]="directoryPrimaryImage(directory_data.media_details)" [alt]="directoryPrimaryImage(directory_data.media_details)">
        <!-- </ion-img> -->
      </ion-col>
      <ion-col col-8 class="directory-details">
        <ion-card-content>
          <ion-card-title>
            {{directory_data.business_name  }}
          </ion-card-title>
          <p class="directory-trade">
            <ng-container *ngFor="let item of directory_data.categories; let i = index">
              {{item.category_name}}&nbsp;
            </ng-container>
          </p>
          <p><ion-icon name="pin"></ion-icon>
            {{directory_data.addresses[0].address_line1}}, {{directory_data.addresses[0].city_name}}
          </p>
        </ion-card-content>
      </ion-col>
    </ion-row>
    <ion-row class="action-button">
      <ion-col col-4>
        <button ion-button icon-start clear small>
          <ion-icon name="ios-map"></ion-icon>
          <div>Map View</div>
        </button>
      </ion-col>
      <ion-col col-4 (click)="callMobile()">
        <button ion-button icon-start clear small>
          <ion-icon name="ios-call"></ion-icon>
          <div>Call Now</div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-start clear small (click)="openEnquiry()">
          <ion-icon name="ios-mail"></ion-icon>
          <div>Enquiry Now</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>