<!--
  Generated template for the DirectoryDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  
  <directory-details [directoryData]="directory" [mediaBaseUrl]="base_url"></directory-details>
</ion-content>
<primary-footer></primary-footer>
