primary-footer {
    .toolbar-background{
        background-color: map-get($colors , 'primary' );
        // background-image: url("https://www.transparenttextures.com/patterns/dark-denim.png");
    }
    .grid, .toolbar{
        padding: 0px;
    }
    ion-col{
        font-size: .9em;
        color: map-get($colors, 'text-primary' );
        text-align: center;
    }
    ion-col.selected{
        border-top: solid 3px map-get($colors, 'secondary');
        padding-top: 2px;
        // font-size: 1em;
        color: map-get($colors, 'secondary' );
        // text-align: center;  
        // ion-icon{
        //     font-size: 2.4em !important;
        // } 
    }
    ion-icon{
        display: block;
        font-size: 2em;
    }
    
}
