<ion-footer>
  <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col (click)="openPage('HomePage')" [ngClass]="{'active': current_page=='HomePage'}">
            <ion-icon name="home"></ion-icon>
            Home
          </ion-col>
          <ion-col (click)="pushPage('AboutPage')" >
            <ion-icon name="at"></ion-icon>
            About
          </ion-col>
          <ion-col (click)="pushPage('CategoryListPage')" [ngClass]="{'active': current_page=='CategoryListPage'}">
            <ion-icon name="apps"></ion-icon>
            Category
          </ion-col>
          <ion-col (click)="pushPage('ServicePage')" [ngClass]="{'active': current_page=='ServicePage'}">
            <ion-icon name="settings"></ion-icon>
            Service
          </ion-col>
          <ion-col (click)="pushPage('ContactUsPage')">
            <ion-icon name="call"></ion-icon>
            Contact
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>