<ion-content>
  <div class="header-content" padding>
    <primary-header></primary-header>
    <ion-grid *ngIf="categories">
      <ion-row *ngFor="let loop_no of interationTimes;">
        <ion-col *ngIf="categories[loop_no * 3] !== undefined && categories[loop_no * 3] !== null" (click)="pushPage('CategoryListPage', categories[loop_no * 3])" col-4>
          <ion-icon name="{{ categories[loop_no * 3] .category_mob_icon }}"></ion-icon>
          {{ categories[loop_no * 3] .category_name }}
        </ion-col>
        <ion-col *ngIf="categories[(loop_no * 3) + 1] !== undefined && categories[(loop_no * 3) + 1] !== null" (click)="pushPage('CategoryListPage', categories[(loop_no * 3) + 1])" col-4>
          <ion-icon name="{{ categories[(loop_no * 3) + 1] .category_mob_icon }}"></ion-icon>
          {{ categories[(loop_no * 3) + 1] .category_name }}
        </ion-col>
        <ion-col *ngIf="categories[(loop_no * 3) + 2] !== undefined && categories[(loop_no * 3) + 2] !== null" (click)="pushPage('CategoryListPage', categories[(loop_no * 3) + 2])" col-4>
          <ion-icon name="{{ categories[(loop_no * 3) + 2] .category_mob_icon }}"></ion-icon>
          {{ categories[(loop_no * 3) + 2] .category_name }}
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-grid *ngIf="categories" [innerHtml]="renderCategoryHtml() | safe: 'html'">
      </ion-grid> -->
  </div>

  <ion-slides *ngIf="homePageBanner.length > 0" pager="true" autoplay="3000">
    <ion-slide *ngFor="let banner of homePageBanner">
      <img  [src]="banner.img">
    </ion-slide>
  </ion-slides>
  <ng-container *ngFor="let item of featuredDirectories; let i = index">
    <list-directory [directoryData] = "item" [mediaBaseUrl] = "mediaBaseUrl"></list-directory>
  </ng-container>
  <ion-infinite-scroll *ngIf="moreDirectoryData!=0" (ionInfinite)="loadMoreFeaturDirectory($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- <list-directory></list-directory>
  <list-directory></list-directory>
  <list-directory></list-directory>
  <list-directory></list-directory>
  <list-directory></list-directory> -->

</ion-content>
<primary-footer></primary-footer>
