// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.scroll-content{
    margin-top: 0px !important;
}
.header::after{
    background-image: none;
}
ion-modal{
    .scroll-content{
        margin-top: 56px !important;
    }   
}

.ios{
    .toolbar{
        min-height: 64px;
    }
    .scroll-content{
        margin-top: 20px;
    }
    .toolbar-background{
        border: none;
    }
    .header{
        button{
            margin-top: 8px;
        }
        .toolbar-title{
            margin-top: 8px;
        }
    }
    ion-content{
        height: calc(100% - 54px + env(safe-area-inset-bottom));
    }
}
ion-slides{
    height: auto;
}
.header-content{
    .toolbar-background{
        background-color: map-get($colors , 'secondary' );
        // background-image: url("https://www.transparenttextures.com/patterns/dark-denim.png");
    }
    background-color: map-get($colors, 'secondary' );
    ion-grid{
        margin-top: 10px;
    }
    .col{
        text-align: center;
        color: map-get($colors, 'text-secondary' );
        text-transform: capitalize;
        padding-bottom: 10px;
        ion-icon{
            margin: 8px;
            font-size: 3em;
            color: map-get($colors, 'primary' )
        }
    }
    .row:not(:last-child){
        .col:not(:last-child){
            border-right: solid 1px;
            border-bottom: solid 1px;
            border-color: map-get($colors, 'secondary-light' );
        }
        .col:last-child{
            border-bottom: solid 1px;
            border-color: map-get($colors, 'secondary-light' );
        }
    }
    .row:last-child{
        .col:not(:last-child){
            border-right: solid 1px;
            border-color: map-get($colors, 'secondary-light' );
        }
    }
}
ion-content{
    height: calc(100% - 56px + env(safe-area-inset-bottom));
}
.fixed-content{
    background: #f8f8f8;
}

.star-ratings-sprite {
    background: url("/assets/imgs/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 15px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 75px;
    margin-left: 16px ;
    background-size: 15px  auto;

    &-rating {
      background: url("/assets/imgs/star-rating-sprite.png") repeat-x;
      background-position: 0 100%;
      float: left;
      height: 15px;
      display:block;
      background-size: 15px  auto;
    }

}
.see-more{
    // position: absolute;
    // bottom: 0px;
    display: inline-block;
    // box-shadow: 0 -14px 18px -5px #dcdcdc;
    border-top: 1px solid #ddd;
    padding: 8px !important;
    font-weight: 400;
    font-size: 1.5rem;
    width: 100%;
    // background: #f8f8f8;
    text-align: center;
    color: map-get($colors , 'secondary' );
}
