<!--
  Generated template for the DirectoryListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="header-content" padding>
    <primary-header></primary-header>
  </div>
  <!-- <list-directory></list-directory>
  <list-directory></list-directory>
  <list-directory></list-directory>
  <list-directory></list-directory>
  <list-directory></list-directory>
  <list-directory></list-directory> -->
  <ng-container *ngFor="let item of directories; let i = index">
    <list-directory [directoryData] = "item" [mediaBaseUrl] = "mediaBaseUrl"></list-directory>
  </ng-container>
  <ion-infinite-scroll *ngIf="moreDirectoryData!=0" (ionInfinite)="loadMoreDirectory($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<primary-footer></primary-footer>