<!--
  Generated template for the CategoryListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>
  <div class="header-content" padding>
      <primary-header></primary-header>
  </div>
  <ion-list >
    <ng-container *ngFor="let category of categories">
      <ng-container *ngIf="category.category_name != ''">
        <button ion-item  (click)="goToDirectoryList(category)">
              {{ category.category_name }}
        </button> 
      </ng-container>
    </ng-container> 
    <ion-infinite-scroll *ngIf="moreCategoryData!=0" (ionInfinite)="loadMoreCategory($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
<primary-footer></primary-footer>
