page-category-list {
    .list-ios > .item-block:first-child{
        border-top: 0px;
    }
    .list-ios > .item-block:last-child{
        border-bottom: 0px;
    }
    ion-label{
        margin: 0;
        display: block;
        overflow: hidden;
        flex: 1;
        font-size: inherit;
        text-overflow: ellipsis;
        white-space: normal;
    }
}
