directory-details {
    .scroll-content{
        margin-top: 56px !important;
    }
    .directory-intro{
        background: #fff;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }
    .title{
        font-size: 2rem;
        font-weight: 500;
        color: map-get($colors , 'text-primary' );
        line-height: 3rem;
        padding: 0px 16px;
    }
    .location-short{
        font-size: 1.4rem;
        color: map-get($colors , 'text-primary-light' );
        padding: 0px 16px;
        
    }
    .directory-action{
        padding-top: 16px;
        border-bottom: 1px solid #ddd;
        ion-icon{
            font-size: 2.3rem;
            color: map-get($colors , 'secondary-dark' );
            margin-top: 10px;
        }
        p{
            margin-top: 5px;
            color: map-get($colors , 'secondary' );
        }
        background: #fff;
    }
    .directory-contact{
        background: #fff;
        margin-top: 10px;
        padding: 16px;
        color: map-get($colors , 'text-primary' );
        p{
            margin: 0px;
            vertical-align: middle;
            font-size: 1.2rem;
        }
        .directory-contact-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 1.3rem;
        }
        .directory-contact-details{
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 1.3rem;
        }
        ion-col{
            margin-bottom: 8px;
        }
    }
    .user-review-count{
        font-size: 1.4rem;
        color: map-get($colors , 'text-primary-light' );
        padding: 0px 10px;
        display: inline-block;
    }

    .star-ratings-sprite{
        float: left;
    }
    .rating-text{
        font-size: 1.6rem;
        font-weight: 100;
        color: map-get($colors , 'secondary' );
    }
    .directory-details{
        background: #fff;
        font-size: 1.3rem;
        font-weight: 300;
        color: map-get($colors, 'text-primary' );
        ion-col{
            padding: 0px;
            p{
                padding: 12px 16px;
                margin: 0px;
            }
        }
    }

    .user-review{
        .review{
            p{
                margin: 0px 0px 0px 16px;
                color: map-get($colors , 'text-primary-light' );
            }
        }
        .rating{
            .user-name{
                font-size: 1.6rem;
                color: map-get($colors , 'text-primary-dark' );
                padding: 0px 10px;
                display: inline-block; 
            }
        }
    }
}
