<!-- Generated template for the DirectoryComponent component -->
<ng-container *ngIf="directory_data && base_url">
  <ion-slides pager="true" autoplay="3000">
      <ion-slide *ngFor="let img of directory_data.media_details">
        <img  [src]="base_url+img.media_content">
      </ion-slide>
  </ion-slides>
  <div class="directory-intro">
    <div class="title">
      {{directory_data.business_name}}
    </div>
    <small class="location-short">
      {{directory_data.addresses[0].city_name+","+directory_data.addresses[0].state_name}}
    </small>
  </div>

  <ion-row class="directory-action">
    <ion-col col-12 text-left>
      <div class="star-ratings-sprite" *ngIf="directory_data.rating_review_details.length > 0"><span [style.width.%]="findRatingPercent(avg_rating)" class="star-ratings-sprite-rating"></span></div>
      <small class="user-review-count" *ngIf="directory_data.rating_review_details.length > 0">{{directory_data.rating_review_details.length}} User reviews</small>
      <!-- <small class="user-review-count">Give your feedback</small> -->
    </ion-col>
    <ion-col col-3 text-center (click)="callMobile()">
      <ion-icon name="call"></ion-icon>
      <p>Call</p>
    </ion-col>
    <ion-col col-3 text-center>
      <ion-icon name="pin"></ion-icon>
      <p>Direction</p>
    </ion-col>
    <ion-col col-3 text-center (click)="openEnquiry()">
      <ion-icon name="chatboxes"></ion-icon>
      <p>Enquiry</p>
    </ion-col>
    <ion-col col-3 text-center (click)="openLink()">
      <ion-icon name="link"></ion-icon>
      <p>Website</p>
    </ion-col>
    <ion-col col-12 padding>
      <button ion-button block (click)="openEnquiry()">Get the best Offers</button>
    </ion-col>
  </ion-row>
  <ion-row class="directory-contact">
    <ion-col col-2 class="directory-contact-icon" *ngIf="phones">
      <ion-icon item-start name="call"></ion-icon>
    </ion-col>
    <ion-col col-10 class="directory-contact-details" *ngIf="phones">
      <p [innerHtml]="findPhone()"></p>
    </ion-col>
    <ion-col col-2 class="directory-contact-icon" *ngIf="emails">
      <ion-icon item-start name="mail"></ion-icon>
    </ion-col>
    <ion-col col-10 class="directory-contact-details" *ngIf="emails">
      <p [innerHtml]="findEmail()"></p>
    </ion-col>
    <ion-col col-2 class="directory-contact-icon" *ngIf="directory_data.addresses[0]">
        <ion-icon item-start name="map"></ion-icon>
    </ion-col>
    <ion-col col-8 class="directory-contact-details" *ngIf="directory_data.addresses[0]">
      <p>
          {{directory_data.addresses[0].address_line1+","+directory_data.addresses[0].city_name+","+directory_data.addresses[0].state_name}}
      </p>
    </ion-col>
    <ion-col col-2 class="directory-contact-details" *ngIf="directory_data.addresses[0]">
      <img src="./assets/imgs/map.jpg">
    </ion-col>
    <ion-col col-2 class="directory-contact-icon" *ngIf="web">
      <ion-icon item-start name="globe"></ion-icon>
    </ion-col>
    <ion-col col-10 class="directory-contact-details" *ngIf="web"> 
      <p [innerHtml]="findWeb()"></p>
    </ion-col>
  </ion-row>
  <ion-row padding>
    <ion-col col-12 (click)="openReviewForm()">
        <ionic3-star-rating 
            activeIcon = "ios-star"
            defaultIcon = "ios-star-outline"
            activeColor = "#fbc02d" 
            defaultColor = "#00838f"
            readonly="false"
            [rating]="0"
            text-center>
        </ionic3-star-rating>
        <p text-center class="rating-text">Please give your valuable feedback</p>
    </ion-col>
  </ion-row>
  <ion-row class="directory-details">
    <ion-col col-12>
      <p [innerHtml]="directory_data.long_description"></p>
      <!-- <p class="see-more">
        View more
      </p> -->
    </ion-col>
  </ion-row>
  <ng-container *ngFor="let item of directory_data.rating_review_details; let i = index">
  <ion-row class="user-review">
    <ion-col col-12 class="rating">
      <div class="star-ratings-sprite"><span [style.width.%]="findRatingPercent(item.rating)" class="star-ratings-sprite-rating"></span></div>
      <span class="user-name" >{{item.name}}</span>
    </ion-col>
    <ion-col class="review">
      <p>{{item.review_text}}</p>
    </ion-col>
  </ion-row>
  </ng-container>
</ng-container>