enquiry {
    ion-header{
        ion-title{
            text-align: center;
        }
        .close-modal{
            text-transform: capitalize;
            float: right;
            font-size: 16px;
            color: teal;
        }
    }
    .enquiry-intro{
        padding: 0px 0px 16px;
        border-bottom: 1px solid map-get($colors, 'light');
        line-height: 1.8rem;
        font-size: 1.3rem;
        .title{
            color: map-get($colors, 'primary-dark' )
        }
    }

    .fixed-content{
        background: #fff;
    }
    .enquiry-form{
        margin-top: 16px;
        ion-item{
            padding-left: 0px;
        }
        .enquire-button{
            margin-top: 32px;
        }
    }
}
