<!-- Generated template for the DirectoryComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>
      Get the best offers
      <span text-right right class="close-modal" (click)="closeModal()">Close</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="enquiry-intro">
    <div class="title">
      Just a click! Get the best offers at your finguretips from "{{text}}"
    </div>
  </div>

  <form (ngSubmit)="submitEnquiryForm()" class="enquiry-form">
    <ion-item>
      <ion-label stacked>Name*</ion-label>
      <ion-input type="text" [(ngModel)]="enquiry.name" name="name" placeholder="Eg. Titly"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Mobile*</ion-label>
      <ion-input type="number" [(ngModel)]="enquiry.mobile" name="mobile" placeholder="Eg. 91XXXXXX"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="enquiry.email" name="email" placeholder="Eg. titly@abcd.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea [(ngModel)]="enquiry.details" name="description" placeholder="Write about your requirement"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" class="enquire-button" block>Submit</button>
  </form>
</ion-content>
